# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# CocoaPods
#
ios/Pods/

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
android/app/libs
android/app/signing.properties
android/app/*.jks

# VSCode
.vscode/
jsconfig.json

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# Fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# configuration
config/environment.js

# Temporary Build files
#
dist-mobile
ios/build/
ios/index.ios.jsbundle*
ios/main.jsbundle*

# iOS certificates and provisioning profile
#
*.cer
*.mobileprovision
*.certSigningRequest
*.p12
*.pem
*.pkey

# Crashlytics
#
android/app/src/main/assets/crashlytics-build.properties
android/app/src/main/res/values/com_crashlytics_export_strings.xml
